{% extends 'layout.html' %}
<!--Váriavel com i IDD que será substituido no layout-->
{% set pageID = 'page-create-point' %}
{% block styles %}
    <link rel="stylesheet" href="styles/create-point.css">
    <link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}

{% block title %}
    <title>Criar novo ponto de coleta</title>
{% endblock title %}


{% block content %}
    {%include "partials/page-header.html"%}
    <!--Envia os dados de forma mais segura, os dados serão levados p/ o save point-->
    <form action="/savepoint" method = 'POST' >
            <h1>Cadastro de ponto de coleta</h1>
            <!--Tag destinadda a agrupar campos de forumulário relacionados aa uma mesma coisa-->
            <fieldset>
                <legend>
                    <h2>Dados da entidade</h2>
                </legend>
                <div class="field-group">
                    <div class="field">
                        <label for="name">Nome da entidade</label>
                        <input type="text" name="name" id="" required>
                    </div>
                    <div class="field">
                        <label for="image">Imagem (url)</label>
                        <input type="url" name="image" placeholder="http://" id="" required>
                    </div>
                </div>
                

                <div class="field-group">
                    <div class="field">
                        <label for="adress">Endereço</label>
                        <input type="text" name="adress" id="" required>
                    </div>
                    <div class="field">
                        <label for="adress2">Número / Complemento</label>
                        <input type="text" name="adress2" id="" required>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="uf">Estado</label>
                        <select name="uf" required>
                            <option value="">Selecione um estado</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" disabled required>
                            <option value="">Selecione uma cidade</option>
                        </select>
                        <input type="hidden" name="state">
                    </div>
                    
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <h2>Itens de coleta</h2>
                    <span>Selecione um ou mais itens abaixo</span>
                </legend>

                <div class="items-grid">
                    <li data-id="Lâmpadas">
                        <img src="assets/lampadas.svg" alt="lampadas">
                        <span>Lâmpadas</span>
                    </li>
                    <li data-id="Pilhas e baterias">
                        <img src="assets/baterias.svg" alt="Pilhas e baterias">
                        <span>Pilhas e baterias</span>
                    </li>
                    <li data-id="Papéis e papelão">
                        <img src="assets/papeis-papelao.svg" alt="Papéis e papelão">
                        <span>Papéis e papelão</span>
                    </li>
                    <li data-id="Residuos eletrônicos">
                        <img src="assets/eletronicos.svg" alt="Residuos eletrônicos">
                        <span>Residuos eletrônicos</span>
                    </li>
                    <li data-id="Resíduos orgânicos">
                        <img src="assets/organicos.svg" alt="Residuos orgânicos">
                        <span>Resíduos orgânicos</span>
                    </li>
                    <li data-id="Óleo de cozinha">
                        <img src="assets/oleo.svg" alt="óleo de cozinha">
                        <span>Óleo de cozinha</span>
                    </li>
                </div>
                <input type="hidden" name="items">
            </fieldset>

            <button type="submit">Cadastrar ponto de coleta</button>
        </form>

        
{% endblock content %}

{% block modal %}
    {% if saved %}
        {%include 'partials/point-created.html'%}
    {% endif %}
{% endblock modal %}


{% block scripts %}
    <script src="scripts/create-point.js"></script>
{% endblock scripts %} 
