
#page-home{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content{
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


#page-home header{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home header a{
    display: flex;
    font-weight: 700;
    color: var(--title-color);
}

#page-home header a span{
    margin-right: 1rem;
    background-image: url('../assets/log-in.svg');
    height: 20px;
    width: 20px;
}

#page-home main{
    max-width: 560px;
    display: flex;
    /*Pega o tamanho que sobra dos elementos*/
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{
    font-size: 3.5em;
}

#page-home main p{
    margin-top: 24px;
    font-size: 1.5em;
    line-height: 38px;
}

#page-home main a{
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 360px;
    margin-top: 40px;
    background: var(--primary-color);
    height: 72px;
    border-radius: 8px;
    transition: 400ms;
}

#page-home main a:hover{
    background-color: #2fb86e;
}

#page-home main a span{
    background-color: rgba(0, 0, 0, 0.08);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 72px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after{
    content: "";
    background: url('../assets/search.svg') no-repeat;
    height: 20px;
    width: 20px;
}

#page-home main a strong{
    color: white;
    flex: 1;
    text-align: center;
}
