#modal{
    background: #0E0A14ef;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal .content{
    color: white;
    width: 420px;
}

#modal .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

#modal .header a{
    background: url('/assets/x.svg') no-repeat;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 0.01px;
}

#modal .header h1{
    color: white;
    font-size: 32px;
    line-height: 42px;
}

#modal form label{
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

#modal form .field{
    display: flex;
}

#modal form input{
    flex: 1;
    background-color: var(--bg-color);
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}

#modal form button{
    height: 72px;
    width: 72px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 8px 8px 0;
}

#modal form button:hover{
    background-color: #2fb862
}
/*Sem espaços entre os seletores*/
#modal.hide{
    display: none;
}

/*CSS para o modal do create point*/
#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#modal.point .content h3{
    margin-top: 16px;
    color: white;
}
